each item in items
    div.row 
        div.six.columns
            a(href="#", onClick='repoView("' + item.full_name + '")')
                = item.full_name
        div.six.columns
            = item.open_issues
            |  issues
    div.row
        div.four.columns
            =item.id
        div.four.columns
            if item.private
                p Private
            else
                p Public
        div.four.columns
            p='Fork: ' + item.fork